<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
<title>Best of the Year - Movies</title>
</head>

<body>
	<!-- Bootstrap Bundle with Popper -->
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
	<header th:insert="~{fragments :: header(movies)}"></header>
	<section class="content pt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-9 text-center">
					<h3 class="pb-3">Ecco la Lista dei Film!</h3>
					<h6 class="pb-3" th:if="${id} != null" th:text="'Risultati per il filtro '+ ${id}" />
					<ul class="list-group list-group-flush">
						<li class="list-group-item" th:each="Movie: ${movies}"><a th:href="@{movies}">[[${Movie.titolo}]]</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

</body>

</html>